* {
  margin: 0;
}

.formContainer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: #ffffff;
    padding: 20px 60px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      width: 50px;
      padding: 0;
    }

    .appName {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(146, 146, 146);
        }
      }

      input[type="file"] {
        display: none;
      }

      label {
        color: #5d5b8c;
        font-size: 14px;
        cursor: pointer;
      }
      .fileLabel {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #8da4f1;
        font-size: 12px;
      }

      button {
        cursor: pointer;
        background-color: #7b96ec;
        border: none;
        font-weight: bold;
        padding: 10px;
        color: white;
      }
    }

    p {
      color: #5d5b8f;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
<<<<<<< HEAD

=======
>>>>>>> 52eccf4d3b598c0006790bb2755cf936b09cfee1
.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
<<<<<<< HEAD
    border: 1px solid black;
=======
    border: 1px solid white;
>>>>>>> 52eccf4d3b598c0006790bb2755cf936b09cfee1
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    .sidebar {
      flex: 1;
<<<<<<< HEAD
      background-color: #3e3c61;
    }
=======
      background-color: #3c3973;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #2e2d61;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #ddddf7;

        .user {
          display: flex;
          gap: 10px;
          align-items: center;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            border: none;
            color: #ddddf7;
            background-color: #5a5b8d;
            font-size: 10px;
            cursor: pointer;
          }
        }
      }
    }

>>>>>>> 52eccf4d3b598c0006790bb2755cf936b09cfee1
    .chat {
      flex: 2;
    }
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 52eccf4d3b598c0006790bb2755cf936b09cfee1
